* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #007BFF;
    color: #fff;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 1.8em;
}

nav {
    margin: 0 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    text-decoration: underline;
}

.social-links {
    display: flex;
}

.social-links a {
    color: #ffcc00;
    text-decoration: none;
    margin: 0 10px;
}

.social-links a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

.content {
    padding: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

.content h2 {
    color: #007BFF;
}

.content img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.contact-button {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin: 20px 0;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.1s;
}

.contact-button:hover {
    background-color: #218838;
}

.carousel {
    text-align: center;
    margin: 20px auto;
}

.carousel-container {
    position: relative;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
}

.carousel-item {
    display: none;
    padding: 20px;
}

.carousel-item.active {
    display: block;
}

.carousel-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

button {
    cursor: pointer;
    background-color: #007BFF;
    border: none;
    color: white;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.3s;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.container {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
}

footer p {
    margin: 0;
}

/* Адаптивность */
@media (max-width: 768px) {
    header h1 {
        font-size: 1.5em;
    }

    .contact-button, .prev, .next {
        font-size: 1em;
        padding: 8px;
    }

    .carousel-item {
        width: 90%;
        margin: 0 auto;
    }
}